* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 80, 148);
  color: white;
}

.boxes {
  display: flex;
}

.box1 {
  height: 244px;
  width: 244px;
  padding: 3px;
  margin: 3px;
  background-color: rgb(234, 175, 72);
}

.box2 {
  height: 244px;
  width: 244px;
  padding: 3px;
  margin: 3px;
  background-color: rgb(78, 226, 219);
}

.box3 {
  height: 244px;
  width: 244px;
  padding: 3px;
  margin: 3px;
  background-color: rgb(224, 217, 87);
}



@media only screen and (max-width: 455px) {
  body {
    background-color: blue;
  }

  .boxes {
    flex-direction: column;
  }
}

